*.exe
*.dll
*.o
*.so
*.a
*.pyc
*~
**/CMakeCache.txt
**/cmake_install.cmake
**/install_manifest.txt
**/CMakeFiles/
**/CTestTestfile.cmake
build/**/Makefile
**/CMakeScripts
**/compile_commands.json
**/*__genmod.f90
*build*/**
dist/**
install/**
.cproject
.project
.settings/
.vscode/
**/.idea/
setup.retry
*.mod
*.log
**/.webassets-cache
**/.ipynb_checkpoints/
*.lib
*.exp
*.asv
*.bundle
.vs/*
out/*
**/~$*.xlsx
**/~$*.docx
